/* ===== RESPONSIVE STYLE ===== */

@media (max-width:1440px) {
	html {
		font-size:0.6vw;
	}
	.first-screen__descr p, .first-screen__slide p {
		font-size: 1.6rem;
	}
	.news-card__descr, .about__body p {
		font-size: 1.8rem;
	}
	h1, .h1 {
		font-size: 8rem;
	}
	h2, .h2 {
		font-size: 6rem;
	}
	.news-block, .section {
		padding: 5rem 0;
	}
	.block-head {
		margin-bottom: 5rem;
	}
	.testimonials-slider p {
		margin-bottom: 0;
	}
	.practic-section-item {
		padding: 7rem 15px 7rem 3rem;
	}
	.practic-bg-img {
		height: 100rem;
	}
	.alt-banner {
		padding: 15rem 5rem;
	}
	.alt-banner--team {
		min-height: 600px;
	  }
}

@media (max-width:1279px) {
	/* Mobile menu */
	.mobile-btn {width:25px;display:block;}
	.mobile-btn span{
		display: block;
		height: 2px;
		background-color: #fff;
		border-radius: 2px;		
	}
	.mobile-btn span:not(:last-child){margin-bottom:5px;}
	.nav {
		position: fixed;
		display:block;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--red-dark);
		padding: 60px 20px;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		z-index: 120;
		overflow-y:auto;
	}
	.nav.active{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}
	.close-menu{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.close-menu::before,
	.close-menu::after{
		content: '';
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 50%;
	}
	.close-menu::before{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.close-menu::after{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.menu {flex-direction: column;}
	.menu li {margin: 0 0 20px 0;}
	.menu li a{
		font-size: 14px;
		text-transform:uppercase;
		color: var(--black);
	}
	.mobile-menu__content {display:block;}
	/* // Mobile menu */

	.menu-sub-list {
		position: relative;
		margin-top: 0px;
	}
	.menu-sub-list li {
	    margin: 0 0 10px;
	}
	.menu-sub-list li:last-child {
	    margin:0;
	}
	.menu-sub-list li a {
		background:transparent;
		border-bottom:none;
		padding:0.5em 1em;
	}
	.have-sub .select-arrow-icon {
	    color: #000;
	}
	.have-sub.active::after {
		transform:rotate(180deg);
	} 
	.menu {
		margin-right: 0;
	}
	.mobile-menu__content .mail-link {
		display:block;
	}
	.mail-link {
		margin: 20px 0;
	}
	.search-input input {
		font-size: 14px;
		height: 40px;
	}
	.search-input input::placeholder {
		font-size: 14px;
	}
	.history-tabs li {
		font-size: 5.5rem;
	}
	.history-tabs li.active::before {
		transform: translateY(-75%);
	}
	.history-tabs li:not(:last-child)::after {
		margin-left: 6rem;
	}
	.first-screen-alt {
		padding-top: 20rem;
	}
	.menu li a {
		justify-content: space-between;
	}
}

@media (max-width:1024px) {
	.history-tabs li.active::before {
		display:none;
	}
	.history-tabs li:not(:last-child)::after {
		display:none;
	}
	.history-tabs {
		margin-bottom: 3rem;
		justify-content: center;
	}
	.history-tabs li {
		margin:0 1em 0.5em;
	}
	.associate-tabs-item {
		max-width: 24%;
		flex: 0 0 24%;
		margin-bottom: 15px;
		padding: 0;
	}
}

@media (max-width:768px) {
	html {
		font-size:10px;
	}
	h1, .h1 {
		font-size: 6rem;
	}
	h2, .h2 {
		font-size: 4.5rem;
	}
	h3, .h3 {
		font-size: 3.5rem;
		line-height: 1.3;
	}
	h4, .h4 {
		font-size: 2rem;
	}
	p, .first-screen__descr p, .first-screen__slide p, .news-card__descr, .about__body p, .testimonials-slider p, .btn, .team-card p, .emp-mail, .emp-name, .contact-info, .footer-content, .footer-bottom, .association-item p, .history-more-info, .partner-info_title, .event-title, .tag-list li, .select, ul:not([class]) li, ol:not([class]) li, table, .sidebar-list li a, .side-head, .block-menu {
		font-size: 16px;
	}
	.partner-info-body, .partner-info-body p, .partner-info_title {
		font-size: 14px;
	}
	.news-block__top  {
		flex-direction: column;
	}
	.block-menu {
		margin:20px 0 30px;
	}
	.news-card__img {
		margin-bottom: 2rem;
		height: 25rem;
	}
	.news-card__date {
		width: 7rem;
		height: 7rem;
		font-size: 16px;
	}
	.about {
		flex-direction: column;
	}
	.about__body {
		width: 100%;
		padding: 3em  0;
	}
	.about__image {
		transform: none;
		height: 450px;
		flex:none;
	}
	.practic-section {
		flex-direction: column-reverse;
	}
	.practic-slider-area, .practic-section__content {
		width: 100%;
	}
	.practic-section-item {
		padding: 5rem 15px;
		max-width: 100%;
	}
	.practic-bg-img {
		height: 60rem;
	}
	.practic-bg-img img {
		object-position: top;
	}
	.practic-title {
		font-size: 16px;
	}
	.practic-title-row img {
		margin-top: 0;
	}
	.btn-container {
		justify-content: center;
	}
	.team {
		flex-direction: column;
	}
	.team__body {
		width: 100%;
		padding: 3em  0;
	}
	.team__image {
		transform: none;
		height: 600px;
		flex:none;
	}
	.team__image img {
		object-position: top;
	}
	.raiting-block, .testimonials-block {
		width: 100%;
	}
	.raiting-block {
		margin-bottom:100px;
	}
	.raiting {
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testimonials-section:before {
		height:44%;
		width:100%;
	  }
	.raiting-name {
		font-size: 3rem;
	}
	.raiting-num {
		font-size: 6rem;
	}
	.block-head {
		margin-bottom: 4rem;
	}
	.contact-card {
		padding: 4rem 3rem;
	}
	.footer {
		padding: 5rem 0 1rem;
	}
	.footer-item, .footer-bottom {
		max-width: 50%;
		flex: 0 0 50%;
		margin-bottom:20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer-wrapper {
		justify-content: center;
	}
	.footer-item:first-child {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.footer-item:nth-child(2) {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.footer-nav {
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
	}
	.footer-item:nth-child(3) .footer-nav {
		flex-direction: column;
	}
	.footer-nav li {
		margin:0 10px 10px;
	}
	.footer-content .callback {
		margin: 3em auto 0;
	}
	.footer-bottom__item {
		margin-bottom:20px;
		max-width: 100%;
    	flex: 0 0 100%;
		justify-content: center;
	}
	.footer-bottom {
		flex-direction: column-reverse;
	} 
	.footer-bottom {
		padding: 0;
	}
	.mail-link, .search-btn  {
		display:none;
	}
	.block-head {
		justify-content: center;
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	.raiting-owner {
		justify-content: center;
		height: 8rem;
		margin: 0 5px 4rem;
	}
	.raiting-slider-nav .slick-dots {
		text-align: center;
	}
	.raiting-row {
		margin-bottom: 0;
		justify-content: center;
	}
	.testimonial-avatar {
		margin: 0 auto 30px;
	}
	.testimonial-name, .testimonial-post, .testimonials-slider p {
		font-size: 16px;
		text-align: center;
	}
	.testimonials-slider-nav .slick-dots {
		text-align: center;
	}
	.team__body .block-head .btn {
		margin-top:20px;
	}
	.social {
		margin-top: 2.5rem;
	}
	.association-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.association-wrapper {
		flex-direction: column-reverse;
	}
	.history-tabs li {
		font-size: 3.5rem;
	}
	.association-slider-arrows {
		justify-content: center;
		margin-top: 2rem;
	}
	.associate-history {
		margin: 3rem 0 0;
	}
	.breadcrumb li {
		font-size: 14px;
	}
	.breadcrumb {
		padding: 1.5em 0;
	}
	.history-year {
		font-size: 3rem;
	}
	.history-block {
		margin-top: 5rem;
	}
	.head-banner-content {
		width:90%;
		bottom: 3rem;
    	left: 3rem;
	}
	.internship_title {
		font-size: 2.4rem;
	}
	.internship-content {
		padding: 3rem 0 1rem;
	}
	.requirements-item {
		width: 47%;
	}
	.advantages-item__num {
		font-size: 8rem;
	}
	.advantages-item {
		margin-bottom: 3rem;
		width: 48%;
	}
	.advantages-item__head::before {
		width: 11rem;
		height: 11rem;
		left: auto;
		right: 6rem;
	}
	.advantages-item__head {
		margin-bottom: 1rem;
	}
	.requirements {
		padding: 5rem 0;
	}
	.alt-banner {
		padding: 10rem 5rem;
	}
	.alt-banner p {
		width:100%;
	}
	.fs-half-item {
		width: 100%;
	}
	.partner-info-card {
		transform: none;
		margin-bottom:2rem;
	}
	.first-screen-alt {
		padding-top: 17rem;
		margin-bottom:0;
	}
	.partner-main-img {
		height: 60rem;
	}
	.partner-info-row {
		padding: 2rem 3rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}
	.partner-btn-row {
		padding: 0rem 3rem 3rem;
	}
	.practics-wrapper.four-column .block-item {
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom:3rem;
	}
	.events-slider-arrows {
		margin-top:3rem;
	}
	.project-item {
		padding: 3rem;
	}
	.text-section, .events  {
		padding: 5rem 0;
	}
	.pract-type__wrapper.two-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom:30px;
	}
	.pract-type__wrapper {
		margin: 0 -10px 2rem;
	}
	.member-wrapper.four-column .block-item {
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom:30px;
	}
	.raiting-wrapper.three-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom:40px
	}
	.news-wrapper.three-column .block-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.common-section-head {
		flex-direction: column-reverse;
	}
	.sidebar {
		width: 100%;
		margin-bottom:30px;
	}
	.common-banner {
		width: 100%;
	}
	.video-item {
		height: 40rem;
	}
	.half-wrapper.two-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom:30px;
	}
	.gallery-wrapper.four-column .block-item {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.sidebar-list li a {
		padding: 1.5rem;
	}
	.gallery-wrapper a {
		height: 17rem;
	}
	.copyright-mobile {
		display: block;
	}
	.copyright {
		display: none;
	}
	.footer-content {
		display: block;
		height:auto;
	}
	.sm-hide {
		display:none;
	}
	.sm-show {
		display:block;
	}
	.sm-show.flex {
		display:flex;
	}
	.news-block .btn-container, .team__body .btn-container {
		margin-top:4rem;
	}
	.block-menu {
		margin: 20px 0 0;
	}
	.block-menu li {
		margin: 0 0.5em 0.5em;
	}
	.block-menu li:not(:last-child) {
		margin-right: 0.5em;
	}
	.partner-main-img {
		margin-bottom:30px;
	}
	.popup-window {
		width: 90%;
		padding:1em;
	}
	.history-tab {
		font-size: 4rem;
	}
	.three-column .block-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.testimonial-author {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonial-avatar {
		width: 20rem;
		height: 20rem;
	}
}

@media (max-width:767px) {	
	.logo, .footer-logo {
		max-width: 20rem;
		display: block;
	}
	h1, .h1 {
		font-size: 3.5rem;
	}
	h2, .h2 {
		font-size: 3rem;
	}
	h3, .h3 {
		font-size: 2.4rem;
	}
	.first-screen {
		height: auto;
		padding: 20rem 0 3rem;
	}
	.first-screen__slider {
		margin: 1em 0 0;
	}
	.first-screen__slider .slick-dots {
		display:none;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.phone-block {
		font-size: 14px;
	}
	.slick-arrow {
		width: 5rem;
		height: 5rem;
	}
	.news-block-slider-arrows {
		margin-top: 3rem;
	}
	.about__image {
		height: 300px;
	}
	.practic-card-img {
		height: 12rem;
		margin-bottom: 3rem;
	}
	.practic-bg-img {
		height: 300px;
	}
	.team-img {
		height: 20rem;
	}
	.team__row .half-item {
		width: 100%;
		margin-bottom: 4rem;
	}
	.team__row .half-item:last-child {
		margin-bottom: 0;
	}
	.emp-name {
		height:auto;
		margin-bottom:10px;
	}
	.team__image {
		height: 320px;
	}
	.partners-slider-arrows {
		justify-content: center;
		margin-top: 3rem;
	}
	.partner-logo {
		height: 8rem;
	}
	.raiting-owner {
		height: 5rem;
		justify-content: center;
	}
	.block-head .h2, .block-head h2 {
		text-align: center;
	}
	.raiting-name {
		font-size: 2rem;
		margin-bottom:20px;
	}
	.raiting-num {
		font-size: 4rem;
	}
	.raiting-slider-nav .slick-dots, .testimonials-slider-nav .slick-dots {
		bottom: -30px;
	}
	.testimonial-name, .testimonial-post, .testimonials-slider p {
		font-size: 16px;
	}
	.associate-tabs-item {
		max-width: 48%;
		flex: 0 0 48%;
	}
	.history-tabs li {
		font-size: 2.5rem;
	}
	.history-year {
		font-size: 2rem;
	}
	.history-info {
		width: 75%;
		padding: 1em 0;
	}
	.advantages-item, .requirements-item {
		width: 100%;
	}
	.half-item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.practic-row .half-item {
		margin-bottom: 2rem;
	}
	.vacancy-item {
		padding: 3rem 2rem;
	}
	.requirements-item p {
		margin-bottom: 1em;
	}
	.advantages-item__num {
		font-size: 5rem;
	}
	.advantages-item__head {
		padding: 1rem 0;
	}
	.advantages-item__head::before {
		width: 7rem;
		height: 7rem;
		right: 4rem;
	}
	.alt-banner {
		padding: 5rem 2rem;
	}
	.partner-info_title {
		width: auto;
	}
	.partner-info-row {
		justify-content: space-between;
		padding:1rem 2rem;
	}
	.partner-btn-row {
		padding: 0rem 2rem 0rem;
		flex-direction: column;
	}
	.partner-btn-row .btn {
		width: 100%;
		margin-bottom: 20px;
	}
	.partner-name {
		width: 90%;
		left: 2rem;
		font-size: 2rem;
		line-height: 1.3;
		bottom:3rem;
	}
	.partner-main-img {
		height: 30rem;
	}
	.half-text {
		width: 100%;
	}
	.projects-wrapper {
		column-count: 1;
	}
	.project-item {
		padding: 2rem;
	}
	.first-screen-alt {
		padding-top: 13rem;
	}
	.news-block, .section, .text-section, .events {
		padding: 4rem 0;
	}
	.pract-type__wrapper {
		margin: 0 -10px 0rem;
	}
	.member-wrapper.four-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.team-card p {
		height: auto;
	}
	.news-wrapper.three-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.filter-wrapper, .filter-item {
		flex-direction: column;
		align-items: center;
	}
	.filter-item {
		margin:7px 0;
	}
	.filter-descript {
		margin: 0 0 1rem;
	}
	.event-info {
		bottom:2rem;
		left:2rem;
	}
	.gallery-wrapper.four-column .block-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.sidebar-list li a, .side-head {
		padding: 1rem 2rem;
	}
	.marker-text-wrap {
		padding: 1.5rem;
	}
	.gallery-wrapper a {
		height: 10rem;
	}
	.public-wrapper.three-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom:30px;
	}
	.video-item {
		height: 20rem;
	}
	.play-btn {
		width: 7rem;
		height: 7rem;
	}
	.contact-title {
		font-size: 2rem;
	}
	.footer-nav {
		flex-direction: column;
	}
	.footer-nav li {
		margin:0 10px 10px;
	}
	.footer-item {
		max-width:100%;
		flex:0 0 100%;
	}
	.footer-content .callback {
		margin: 1em auto 0;
	}
	.popup__content {
		max-height:400px;
		overflow: auto;
	}
	.popup-head__logo {
		height: 7rem;
	}
	.internship-block,
	.show-hidden-blocks .flex.hidden-block {
		display: block;
	}
	.hidden-block {
		display: none;
	}
	.internship-content,
	.internship_title {
		width: 100%;
	}
	.internship-block {
		margin-bottom: 25px;
	}
	.internship-content {
		border-bottom: none;
	}
	.alt-banner--team {
		min-height: unset;
	  }
}

@media (max-width:480px) {	
	.associate-history .h2 {
		text-align: center;
	}
	.practic-card-img {
		height: 15rem;
		margin-bottom: 2rem;
	}
	.event-img {
		height: 25rem;
	}
	.testimonials-section:before {
		height: 41%;
	}
	.history-tab {
		font-size: 2.4rem;
	}
	.three-column .block-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.block-menu {
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
		flex-wrap: nowrap;
	}
	.block-head {
		margin-bottom: 2rem;
	}
}
