@charset "UTF-8";
@import url("jquery.fancybox.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, ul li, ol li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol[class], ul[class], ul[class] li, ol[class] li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input, textarea {
	width:100%; 
	border:1px solid transparent;
	outline: none;
	resize: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/RobotoBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

:root {
  --header-top-bg: rgba(119, 37, 60, 0.46);
  --text-color: #525657;
  --border-color: rgba(0, 0, 0, 0.09);
  --red-dark: #77253C;
  --red-dark-hover: #a53454;
  --yellow: #FFF4E6;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s;
}

h1, .h1 {
  font-size: 9.6rem;
  margin-bottom:0.1em;
  display:block;
}

h2, .h2 {
  font-size: 7.2rem;
  line-height: 1.2;
  margin-bottom:0.2em;
  display:block;
}

h3, .h3 {
  font-size: 4.8rem;
  line-height: 1.3;
  margin-bottom:0.5em;
  display:block;
}

h4, .h4 {
  font-size: 2.4rem;
  margin-bottom: 0.75em;
  display:block;
}

.font-500 {
  font-weight: 500;
}

b, strong {
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items:flex-start;
}

.svg-sprite {
  display: none;
}

/* Firefox 19+ */
/* Firefox 18- */
/* хром, сафари */
.element::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.element {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.element {
  overflow: -moz-scrollbars-none;
}

.noscroll {
  overflow: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li.slick-active button {
  background-color: var(--red-dark);
  border:2px solid #fff;
}

/*Header*/
.header {
  color: #fff;
}

.header--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__top {
  background-color: var(--header-top-bg);
  padding: 1.5rem 0;
}

.header__top .lang {
  margin-left: 6rem;
}

.header__main {
  padding: 1.5rem 0;
}

.mail-link {
  margin-left: 2.2em;
}

.phone-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 1.8rem;
}

.phone-block__toggle {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: 0.7em;
  cursor: pointer;
}

.phone-block__toggle::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/icons/angle_down_black.svg") center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.phone-block.active .phone-block__toggle::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.phone-block.active .phone-block__list {
  display: block;
}

.phone-block__list {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  background-color: #fff;
  font-size: 1.6rem;
  color: var(--text-color);
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
}

.phone-block__list li a {
  display: block;
  padding: 0.5em;
}

.phone-block__list li a:hover {
  background-color: var(--text-color);
  color: #fff;
}

.phone-block__list li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.search-btn {
  width: 29px;
  height: 29px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url("../img/icons/search.svg") center no-repeat;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__item {
  width: 50px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 16px;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang__item:hover, .lang__item.active {
  background-color: #fff;
  color: var(--text-color);
}

.lang__item:not(:last-child) {
  margin-right: 12px;
}

.logo {
  max-width: 30rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.mobile-menu__content {
  display:none;
}
.menu {
  margin-right:-1.2em;
}
.menu li {
	position: relative;
	margin:0 1.2em;
  text-transform: uppercase; 
  font-size: 1.8rem;
}

.have-sub {
	position: relative;
}
.have-sub.active .select-arrow {
	transform: rotate(180deg);
}
.menu-sub-list {
    min-width: 15em;
    position: absolute;
    display: none;
    left:0;
    top:100%;
    z-index: 1;
    padding-top:20px;
}
.menu-sub-list li a {
    background:#f0f0f0;
    color:#464646;
    text-transform: none;
    padding: 1em;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 0.1px;
    display:block;
    font-weight: 400;
    
}
.menu-sub-list li a:hover {
  background:var(--red-dark);
  color:#fff;
}
.menu-sub-list li {
    margin:0;
}
@media (min-width:1280px) {
	.menu li:hover >.menu-sub-list {
		display:block;
	}
}
.menu .have-sub::after {
  content: "";
  width: 9px;
  height: 6px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url("../img/icons/angle_down_white.svg") 0 0 no-repeat;
  margin-left: 0.5em;
  background-size: contain;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  font-size: 1.8rem;
  padding: 0.7em 1em;
  min-width: 12.2em;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all .3s;
  border: none;
  transition: all .3s;
  cursor: pointer;
}
.btn .icon {
  width: 1.5em;
  height: 1.5em;
  flex: none;
  margin-right: 0.5em;
}
.btn .icon svg {
  width: 100%;
  height: 100%;
}


.btn--outline {
  border: 2px solid currentColor;
}

.btn--white {
  color: #fff;
}

.btn--white:hover {
  background-color: #fff;
  color: var(--text-color);
}

.btn--red {
  background-color: var(--red-dark);
  color: #fff;
}

.btn--red:hover {
  background-color: var(--red-dark-hover);
}

.btn--square {
  padding:1em 2em;
  background:var(--red-dark);
  color:#fff;
  text-transform:uppercase;
  border-radius: 0;
}

.first-screen {
  height: 100vh;
  position: relative;
  padding-bottom: 7rem;
}

.first-screen__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  object-position: top;
  left: 0;
  top: 0;
}

.first-screen__descr {
  color: #fff;
  font-size: 1.8rem;
}

.first-screen__descr .h1 {
  margin-bottom: 0.3em;
  text-shadow: 1px 1px 1px #000;
}

.first-screen__descr p {
  font-size: 1em;
  max-width: 37em;
  margin-bottom: 2em;
  text-shadow: 1px 1px 1px #000;
}

.first-screen__slider {
  color: #fff;
  font-size: 1.8rem;
  margin: 2em 0 0;
}

.first-screen__slider .slick-dots {
  bottom: -5rem;
}

.first-screen__slider .slick-dots li {
  padding: 0;
  margin: 0 7px;
  width: auto;
  height: auto;
  position: relative;
}

.first-screen__slider .slick-dots li::before {
  content: "";
  width: 22px;
  height: 22px;
  background: url(../img/icons/ellipse_slider_decor.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  opacity: 0;
}

.first-screen__slider .slick-dots li.slick-active::before {
  opacity: 1;
}

.first-screen__slider .slick-dots li button {
  padding: 0;
  margin: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.first-screen__slide {
  padding: 0 3.33em;
  position: relative;
}

.first-screen__slide::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 2.05em;
  height: 0.5em;
  background: url("../img/icons/arow_right_white_lg.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0.4em;
}

.first-screen__slide .h4 {
  margin-bottom: 1em;
}
.first-screen__slide .h4:hover {
  color:var(--red-dark);
}

.first-screen__slide .h4,
.first-screen__slide p {
  max-width: 34rem;
  text-shadow: 1px 1px 1px #000;
}
.first-screen__slide p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.first-screen .container {
  position: relative;
  z-index: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-block {
  padding: 8rem 0;
}

.block-menu li:not(:last-child) {
  margin-right: 2em;
}

.block-menu li a:hover, .block-menu li a.active {
  text-decoration: underline;
}
.block-menu li:hover, .block-menu li.active {
  text-decoration: underline;
}
.block-menu li:hover {
  cursor: pointer;
}

/*=============*/
.block-wrapper {margin: 0 -10px;}
.block-item {padding:0 10px;}
.two-column .block-item {flex:0 0 50%;max-width:50%;}
.three-column .block-item {flex:0 0 33.33%;max-width:33.33%;}
.four-column .block-item {flex:0 0 25%;max-width:25%;}
.five-column .block-item {flex:0 0 20%;max-width:20%;}

.bg--red {
  background-color: var(--red-dark);
}
.bg--gray {
  background-color: #525657;
}
.bg--yellow {
  background-color: var(--yellow);
}
.section {
  padding:7rem 0;
}
.text--center {
  text-align:center;
  display: block;
}
.block-head {
  margin-bottom:7rem;
}
.news-card__date {
  width:11.7rem;
  height:11.7rem;
  background: var(--red-dark);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  font-size: 2.4rem;
  position:absolute;
  left:0;
  bottom:0;
  z-index: 1;
}
.news-card__img {
  position: relative;
  display:block;
  margin-bottom:4rem;
  height:50rem;
}
.news-card__img img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.news-card__descr {
  font-size: 2.4rem;
  line-height: 1.3;
}
.news-block-slider .slick-list {
  margin:0 -10px;
}
.news-block-slider .slide {
  padding:0 10px;
}
.news-block-slider-arrows {
  justify-content: center;
  margin-top:5rem;
}
.slick-arrow {
  width:6.8rem;
  height:6.8rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--red-dark);
  margin:0 1rem;
}
.slick-arrow:hover {
  cursor: pointer;
}
.about {
	display: flex;
	overflow: hidden;
}
.about__content {
	flex:0 0 100%;
}
.about__body {
	width:50%;
	padding: 5em 3em 5em 0;
}
.about__body p {
	font-size: 1.8rem;
	margin-bottom:1.5em;
	line-height:1.7;
}
.about__image {
	flex:0 0 50%;
	transform: translate(-100%, 0);
	display: flex;
  align-items: center;
}
.about__image img {
	width:100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.about__body .block-head {
  margin-bottom:3rem;
}
.about__body .btn-container {
  margin-top:5rem;
}
.bg--yellow {
  background: var(--yellow);
}

.practic-section__content {
	width:50%;
}
.practic-section-item {
  padding: 7rem 0 7rem 3rem;
  max-width: 705px;
}
.practic-slider-area {
  width:50%;
}
.practic-slider-area img {
	width:100%;
}
.practic-row .half-item {
  margin-bottom:4rem;
}
.practic-card {
  display:block;
}
.practic-card-img {
  height:19.6rem;
  margin-bottom:3rem;
}
.practic-card-img img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.practic-title {
  font-size: 2.4rem;
  line-height: 1.3;
  width:70%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.practic-title-row img {
  display:block;
  margin-top:1rem;
}
.practic-card:hover .practic-title {
  color:var(--red-dark)
}
.practic-section-item .btn-container {
  margin-top:3rem;
}

.practic-slider {
  width:100%;
}
.practic-bg-img {
 height:113rem;
}
.practic-bg-img img {
  height:100%;
  width:100%;
  object-fit: cover;
}
.practic-slider .slick-dots {
  bottom: 50px;
}
.practic-slider.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.team {
	display: flex;
	overflow: hidden;
}
.team__content {
	flex:0 0 100%;
}
.team__body {
	width:50%;
	padding: 5em 3em 5em 0;
}
.team__image {
	flex:0 0 50%;
	transform: translate(-100%, 0);
	display: flex;
  align-items: center;
}
.team__image img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.team__row .half-item {
  width:48%;
  margin-bottom:4rem;
}
.team-img {
  height:28.3rem;
  margin-bottom:2rem;
  display:block;
}
.team-img img {
  height:100%;
  width:100%;
  object-fit: cover;
}
.emp-name {
  display:table;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  height:5rem;
  margin:0 auto;
  line-height: 1.3;
}
.emp-name:hover {
  color:var(--red-dark)
}
.team-card p {
  font-size: 1.8rem;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom:1em;
  height: 6rem;
}
.emp-mail {
  display:block;
  padding:1em 0;
  width:100%;
  font-size: 1.8rem;
  text-align: center;
  border-top:1px solid #525657;
  border-bottom:1px solid #525657;
}
.img--link {
  position: relative;
}
.img--link::before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  opacity: 0;
  background: #77253c;
  z-index: 1;
  transition: all 0.25s;
}
.img--link:hover::before {
  opacity: 0.5;
  transition: all 0.25s;
}
.partner-logo-wrapper {
  background: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.partners-slider .slick-list {
  margin:0 -10px;
}
.partners-slider .slide {
  padding:0 10px;
}
.partners-slider-arrows {
  justify-content: center;
  margin-top: 5rem;
}
.partner-logo {
  height: 12rem;
  position: relative;
}
.partner-logo img {
  height: 100%;
  width:100%;
  object-fit: contain;
}
.raiting-owner {
  width:45%;
  margin-bottom:5rem;
}
.raiting-block, .testimonials-block {
  width:45%;
}
.raiting-slider .slide {
  padding:0 10px;
}
.raiting-slider .slick-list {
  margin:0 -10px;
}
.testimonials-section {
  position: relative;
  background: #f7f7f7;
}
.testimonials-section:before {
  content:'';
  display:block;
  position:absolute;
  z-index:0;
  height:100%;
  width:50%;
  background:#77253C;
  top:0;
}
.text--white {
  color:#fff;
}
.raiting-name {
  font-size: 4.5rem;
  color:#fff;
  font-weight: 700;
  display:block;
  text-transform: uppercase;
}
.raiting-owner {
  height:10rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.raiting-owner img {
  height:100%;
  object-fit: contain;
}
.raiting-num {
  font-size: 8rem;
  color:#fff;
  font-weight: 700;
  display:block;
}
.raiting-row {
  margin-bottom:5rem;
}
.raiting {
  margin-bottom:8rem;
}
.raiting-slider-nav .slick-dots {
  text-align: left;
  bottom:0;
}
.testimonial-author {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}
.testimonial-avatar {
  width:30rem;
  height:30rem;
  margin-bottom:3rem;
  margin-left: 5rem;
}
.testimonial-avatar img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.testimonial-name {
  display:block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom:1em;
}
.testimonial-post {
  display:block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom:1.5em;
}
.testimonials-slider p {
  margin-bottom:1em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonials-slider-nav .slick-dots {
  text-align: left;
  bottom:0;
}
.testimonials-slider-nav .slick-dots li button {
  background: var(--red-dark);
}
.testimonials-slider-nav .slick-dots li.slick-active button {
  background-color: #fff;
  border:2px solid var(--red-dark);
}
.raiting-block, .testimonials-block {
  position: relative;
}
.contact-card {
  padding:7rem 3rem;
}
.contact-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-slider .slick-list {
  margin:0 -10px;
}
.contact-slider .slide {
  padding:0 10px;
}
.contact-title {
  display:block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom:1.5em;
}
.contact-info {
  display:block;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom:1em;
  line-height: 1.5;
}
.contact-slider-arrows {
  justify-content: center;
  margin-top: 5rem;
}
.contact {
  padding: 7rem 0 3rem;
}
.contact-info a:hover {
  color:var(--red-dark);
}



/* ===== Search  ===== */
.search-window {
	position: fixed;
	top: 0;
	left: 0;
	transform: scale(0);
	visibility: hidden;
	z-index: 110;
	transition: all .3s;
	background: rgba(119,37,60,0.9);
	padding: 2em;
	width: 100%;
	height:100%;
  backdrop-filter: blur(3px);
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.search-window.active {
	transform: scale(1);
	visibility: visible;
}
.close-search {
	position: absolute;
	top: 1rem;
	right: 50%;
  transform:translateX(50%);
	display: block;
	overflow: visible;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	color: #95979c;
	border: 0;
	outline: 0;
	background: transparent;
}
.close-search:before {
	position: absolute;
	top: 50%;
	left: 1px;
	display: block;
	width: 30px;
	height: 1px;
	border-bottom: 1px solid #fff;
	transform: rotate(45deg);
	content: '';
}
.close-search:after {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 30px;
	height: 1px;
	border-bottom: 1px solid #fff;
	transform: rotate(-45deg);
	content: '';
}
.close-head {
  border-bottom: 1px solid #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 8rem;
}
.search-input input {
  color:#fff;
  font-size: 2.4rem;
  height:50px;
  border-bottom:1px solid #fff;
  background:none;
  outline: none;
}
.search-input input::placeholder {
  color:#fff;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.search-input {
  position: relative;
}
.find-btn {
  width: 29px;
  height: 29px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  background: url("../img/icons/search.svg") center no-repeat;
  outline: none;
  border:0;
  position: absolute;
  right:0;
  top:calc(50% - 15px);
}
.search-form-wrapper, .search-form  {
  align-items: center;
  width:100%;

}
.search-window .container {
  display:flex;
  height:100%;
  position: relative;
}
.breadcrumb {
	padding: 2.5em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.breadcrumb li {
	font-weight: normal;
	font-size: 1.8rem;
	color: #000;
	display: flex;
	align-items: center;
  text-transform: uppercase;
  line-height: 1.5;
}
.breadcrumb li a:hover {
	color: var(--red-dark);
}
.breadcrumb li:not(:last-child)::after {
	content: '';
	display: block;
	width: 5px;
	height: 1px;
	border-radius: 50%;
	background: #000;
	margin: 0 10px 0 10px;
}
.breadcrumb li:last-child a {
	pointer-events: none;
}

.association-item {
  width:49%;
}
.association-item .h2, .association-item h2 {
  margin-bottom:0.5em;
  display:block;
}
.association-item p {
  font-size: 1.8rem;
  margin-bottom:1em;
}
.associate-history {
  margin:7rem 0;
}
.association-slider .slick-list {
  margin:0 -10px;
}
.association-slider .slide {
  padding:0 10px;
}
.association-slider-arrows {
  justify-content: flex-end;
  margin-bottom:5rem;
}
.associate-history__top {
  margin-bottom: 5rem;
}
.associate-history__top .association-slider-arrows,
.associate-history__top .h2{
  margin-bottom: 0;
}
.association-slider-arrows .slick-arrow.slick-disabled {
  background: #F9F9F9;
  pointer-events: none;
}
.association-img img {
  width:100%;
}
/* Табы */
.tabs {
  margin: 0 0 20px;
}
.tabs li {
  position: relative;
}
.tabs li a {
  display: block;
}
.history-tab.active  {
  color:var(--red-dark);
}
.tab_content {
	height: 0;
  overflow: hidden;
}
.tab_content.active {
	height: auto;
  overflow: visible;
}
.history-tab {
  font-size: 7.2rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.history-tab:hover {
  cursor: pointer;
} 
.history-tab::after {
  content:'';
  display:block;
  width:3rem;
  height:1px;
  background-color: #000;
  margin-left:3rem;
}
.association-slider .slide:last-child .history-tab::after {
  display:none;
}
.association-slider {
  margin-bottom:4rem;
}
.associate-tabs-item {
  max-width:15.7%;
  flex:0 0 15.7%;
  margin-bottom:20px;
  padding: 0 5px;
}
.associate-tabs-item .partner-logo-wrapper {
  background:#F7F7F7;
}
.associate-tabs-item .partner-logo {
  display:block;
  position: relative;
  z-index: 3;
}
.associate-tabs-item .partner-logo img:nth-child(2) {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%);
  opacity:0;
}
.associate-tabs-item .partner-logo img:nth-child(2) {
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%);
  opacity:0;
}
.associate-tabs-item .partner-logo-wrapper:hover .partner-logo img:nth-child(2) {
  opacity: 1;
}
.associate-tabs-item .partner-logo-wrapper:hover .partner-logo img:nth-child(1) {
  opacity: 0;
}
.associate-tabs-item .partner-logo-wrapper::after {
  content: '';
  display:block;
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background-color: #77253C;
  z-index: 0;
  transition:all 0.25s;
  opacity: 0;
}
.associate-tabs-item .partner-logo-wrapper:hover::after {
  transform: scale(1.3);
  transition:all 0.25s;
  opacity: 1;
  z-index: 2;
}
.head-banner {
  position: relative;
}
.head-banner__title {
  display:block;
  color:#fff;
  text-shadow: 1px 1px #000;
}
.head-banner-content {
  width:60%;
  position:absolute;
  bottom:5rem;
  left:5rem;
}
.head-banner-content p {
  color:#fff;
  margin-top:2em;
}
.history-block {
  margin-top:7rem;
}
.history-year {
  padding:0 2rem 10rem 0;
  font-size: 4.8rem;
  border-right:1px solid #525657;
}
.history-info {
  width:64%;
  padding:2em 0 1.5em;
  border-top:1px solid #525657;
}
.history-more-info {
  justify-content: flex-end;
  margin-top:2rem;
}
.history-more-info a:hover {
  color:var(--red-dark);
}
.history-row:last-child .history-info {
  border-bottom:1px solid #525657;
}
.history-info p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.history-info.show-text p {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
  overflow: visible;
}
.career .head-banner-content {
  bottom:0;
  transform: translateY(-50%);
}
.vacancy {
  margin-top:2rem;
}
.vacancy__wrapper {
  margin:0 -10px;
}
.half-item {
  max-width:50%;
  flex:0 0 50%;
  margin-bottom:20px;
  padding:0 10px;
}
.vacancy-item {
  color:#fff;
  background: var(--red-dark);
  padding:5rem 4rem;
}
.vacancy-title {
  display:block;
  font-size: 2.4rem;
  margin-bottom:1.5em;
  text-transform: uppercase;
}
.exp {
  font-size: 1.8rem;
  margin-bottom:1em;
  display:block;
  text-transform: uppercase;
}
.vacancy-item p {
  margin-bottom:1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vacancy-item .btn {
  border-radius: 0;
  border:1px solid #fff;
  padding:1em;
  text-transform: uppercase;
}
.vacancy-item .btn:hover {
  background:var(--red-dark-hover);
}
.internship .h2, .internship h2 {
  margin-bottom:1em;
}
.internship {
  padding:5rem 0 0;
}
.internship-block {
  display: flex;
  align-items: flex-end;
}
.internship_title {
  font-size: 4.8rem;
  line-height: 1.2;
  color:var(--red-dark);
  display:block;
  width: 33%;
  border-bottom:1px solid #525657;
  padding-bottom: 1rem;
}
.internship_title--lt {
  font-size: 2.4rem;
}
.internship-row .empty {
  width:33%;
  border-top:1px solid #525657;
}
.internship-content {
  width:65%;
  border-bottom:1px solid #525657;
  padding:5rem 0 1rem;
}
.internship .btn-container{
  margin-top:5rem;
}
.requirements {
  padding: 7rem 0;
}
.requirements__wrapper {
  margin-top:4rem;
}
.requirements-item {
  width:42%;
}
.requirements-item p {
  margin-bottom:3em;
}
.advantages {
  background: #F9F9F9;
}
.advantages-item__head {
  margin-bottom:3rem;
  padding:2rem 0;
  position: relative;
}
.advantages-item__head::before {
  content:'';
  display:block;
  width:17.8rem;
  height:17.8rem;
  background: #FFF4E6;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}
.advantages-item__num {
  display:block;
  font-size: 14.4rem;
  position: relative;
}
.advantages-item {
  margin-bottom:3rem;
  width:20%;
}
.alt-banner {
  padding:17rem 5rem;
}
.alt-banner--team {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.alt-banner p {
  margin-top:2em;
  color:#fff;
  width:70%;
  text-shadow: 1px 1px #000;
}
.first-screen-alt {
  padding-top:17rem;
  margin-bottom: 5rem;
}
.fs-half-item {
  width:48%;
}
.fs-half-item .breadcrumb {
  padding: 3rem 0;
}
.fs-half-item .breadcrumb li {
  color: #fff;
}
.fs-half-item .breadcrumb li:not(:last-child)::after {
  background: #fff;
}
.partner-info-card {
  background: var(--red-dark);
  color:#fff;
  font-size: 1.8rem;
  line-height: 1.5;
  transform: translateY(10rem);
}
.partner-info-row {
  padding:4rem 6rem;
  border-bottom:1px solid rgba(255, 255, 255, 0.25);
}
.partner-info-row:last-child {
  border-bottom:none;
}
.partner-btn-row {
  padding:0rem 6rem 6rem ;
}
.partner-info_title {
  display:block;
  width:20rem;
  flex: none;
}
.partner-btn-row .btn {
  border:1px solid #fff;
  width:48%;
}
.partner-main-img {
  height:75rem;
  position: relative;
}
.partner-main-img img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.partner-name {
  display:block;
  color:#fff;
  position: absolute;
  width:70%;
  bottom:7rem;
  left:5rem;
  font-weight: 700;
  font-size: 4.8rem;
}
.half-text {
  width:45%;
}
.text-section {
  padding:7rem 0;
}
.text-section p {
  margin-bottom:2em;
}
.practics-wrapper .block-item {
  margin-bottom:4rem;
}
.practics {
  background:#F9F9F9;
}
.events-slider .slick-list {
  margin:0 -10px;
  overflow: visible;
}
.events-slider .slide {
  padding:0 10px;
  width:60rem;
}
.events {
  overflow: hidden;
  padding:7rem 0;
}
.event-item {
  position: relative;
  color:#fff;
  display:block;
}
.event-item::before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  background:#77253c;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  transition: all 0.25s;
}
.event-item:hover::before {
  opacity: 0.5;
  transition: all 0.25s;
}
.event-img {
  height:35rem;
}
.event-img img {
  height:100%;
  width:100%;
  object-fit: cover;
}
.event-date {
  font-size: 14px;
  display:block;
  position:absolute;
  top:4rem;
  right:4rem;
}
.event-info {
  position:absolute;
  bottom:3rem;
  left:3rem;
  width: 85%;
}
.event-title {
  font-size: 2.4rem;
  margin-bottom:1em;
  display:block;
  line-height: 1.5;;
}
.event-type {
  font-size: 14px;
}
.projects-wrapper {
  width: 100%;
  column-count: 2;
}
.project-item {
  padding:5rem;
  background:#F9F9F9;
  margin-bottom: 2rem;
}
.project-logo {
  height:10rem;
  max-width:15rem;
  margin-bottom:2rem;
}
.project-logo img {
  width:100%;
  height:100%;
  object-fit: contain;
}
.project-title {
  display:block;
  font-size: 2.4rem;
  margin-bottom:1em;
  line-height: 1.3;
}
.recomendation-slider .slick-list {
  margin:0 -10px;
}
.recomendation-slider .slide {
  padding:0 10px;
}
.recomendation-slider-arrows {
  justify-content: center;
  margin-top:5rem;
}
.recomendation-slider-arrows .slick-arrow.slick-disabled {
  background: #F9F9F9;
  pointer-events: none;
}
.pract-type__title {
  display:block;
  margin-bottom:1em;
}
.pract-type-img img {
  width:100%;
}
.pract-type__wrapper {
  margin:0 -10px 5rem;
}
.pract-type__wrapper:nth-child(2n) {
  flex-direction: row-reverse;
}
.pract-type {
  padding:0 0 5rem;
}
.raiting-wrapper .raiting-owner, .raiting-wrapper .raiting, .raiting-wrapper .block-item {
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}

/* Выпадающий список */
.select {
	position: relative;
	text-align: left;
	user-select: none;
	-webkit-touch-callout: none;
	font-weight: 400;
	margin: 0;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	color: var(--black);
	display: inline-flex;
	align-items: center;
  background-color: #fff;
}
.select .placeholder {
	position: relative;
	background: transparent;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	padding: 0.7em 2em 0.7em 1em;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	color:#525657;
}
.select .select-arrow {
    position: absolute;
    right: 1.5rem;
    z-index: 0;
    display: flex;
}
.select.is-open .select-arrow {
	transform: rotate(180deg);
	top: auto;
}
.select.is-open ul {
	display: block;
	border: 1px solid gray;
  padding: 0;
}
.select ul {
	display: none;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	background: #f0f0f0;
	border-radius: 2px;
	top: 100%;
	left: 0;
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
	z-index: 4;
}
.select ul li {
	display: block;
	text-align: left;
	padding: 0.5em;
	color: var(--black);
	cursor: pointer;
	word-wrap: break-word;
  margin-bottom:0!important;
}
.select ul li:hover {
	background: var(--red-dark);
	color: var(--white);
}
.select ul li:hover a {
	transition:none;
}

.filter-wrapper {
  padding:15px;
  background:var(--red-dark);
  margin-bottom:3rem;
}
.filter-descript {
  color:#fff;
  margin: 0 2rem 0 0;
  display:block;
}
.news-wrapper .block-item {
  margin-bottom:4rem;
}
.news-item {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.news-item-block {
  flex-direction: column;
}
.news-item .event-item {
  margin-bottom:3rem;
}
.news-item-block p {
  margin-bottom:3rem;
  display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.tag-list li {
  color:var(--red-dark);
  margin:0 1em 10px 0;
  text-transform: uppercase;
}
.hidden-block {
  display:none;
}
.show-hidden-blocks .hidden-block {
  display:block;
}
.show-hidden-blocks .flex.hidden-block {
  display:flex;
}
.show-more span:last-child {
  display:none;
}
.show-hidden-blocks .show-more span:last-child {
  display:block;
}
.show-hidden-blocks .show-more span:first-child {
  display:none;
} 
.common-banner {
  width:75%;
} 
.common-banner img {
  width:100%;
} 
.sidebar {
  width:23%;
  color:#fff;
  line-height:1.5;
}
.side-head {
  display:block;
  padding:2rem 3rem;
  border-bottom:1px solid rgba(255, 255, 255, 0.28);
  background:var(--red-dark);
}
.sidebar-list li a {
  display:flex;
  padding:2.05rem 3rem;
  border-bottom:1px solid rgba(255, 255, 255, 0.28);
  background:var(--red-dark);
  align-items: center;
}
.sidebar-list li a:hover {
  background:var(--red-dark-hover);
}
.sidebar-list li a::before {
  content:'';
  display:block;
  width:2.5rem;
  height:10px;
  background:url(../img/icons/arow_right_white_sm.svg) no-repeat center center / contain;
  margin-right:1.5rem;
}
.common-text {
  padding:3rem 0
}
.common-text h1,
.common-text h2,
.common-text h3 {
  margin-bottom: 2.5rem;
}
.common-text h4,
.common-text h5 {
  margin-bottom: 1.5rem;
}
.common-text p {
  margin-bottom:2em;
}
.video-item {
  position: relative;
  height:53rem;
}
.video-item img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.play-btn {
  display:flex;
  justify-content: center;
  align-items: center;
  width:10.5rem;
  height:10.5rem;
  background:var(--red-dark);
  border-radius:50%;
  position: relative;
}
.video-item .play-btn {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.play-btn::before {
  content:'';
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #fff;
	border-bottom: 10px solid transparent;
}
.play-btn:hover {
  background: var(--red-dark-hover);
}
.atent-text-wrapper {
  margin: 4rem 0;
}
.marker-text-wrap p {
  font-style: italic;
  font-weight: 300;
  display:flex;
  align-items: flex-start;
}
.marker-text-wrap p::before {
  content:'';
  display:block;
  min-width:1.1rem;
  height:1.1rem;
  background:#77253C;
  border-radius:50%;
  margin:1rem 2rem 0 0;
}
.marker-text-wrap {
  padding:3rem;
  border:1px solid rgba(0, 0, 0, 0.12);
}

p:not(:last-child) {
  margin-bottom: 1em;
}
ul:not([class]) li,
ol:not([class]) li {
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1.8rem;
}

ul:not([class]),
ol:not([class]) {
  padding-left: 20px;
  margin-bottom: 20px;
}
p a:hover, ul:not([class]) li a:hover, ol:not([class]) li a:hover {
  text-decoration: none;
}
p a, ul:not([class]) li a, ol:not([class]) li a {
  color: var(--red-dark);
  text-decoration: underline;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  margin:3rem 0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
table th, table td {
  padding: 10px;
  text-align: center;
  color:#000;
  border-right: 1px solid #ccc;
}
table th {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.12);
  padding: 1em;
  font-weight: 700;
}
.gallery-wrapper .block-item {
  margin-bottom:20px;
}
.gallery-wrapper a {
  display:block;
  height:26.7rem;
}
.gallery-wrapper a img {
  width:100%;
  height:100%;
  object-fit: cover;
}
.table {
  overflow: auto;
}




/*Footer*/
.footer {
  background: var(--red-dark);
  padding:7rem 0 3rem;
}
.footer-logo {
  max-width: 30rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.footer-item {
  max-width:22%;
  flex:0 0 22%;
}
.footer-item:first-child {
  max-width:25%;
  flex:0 0 25%;
}
.footer-content {
  color:#fff;
  line-height: 1.5;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}
.footer-nav li {
  margin-bottom:0.7em;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-content .callback {
  display: table;
  margin-top:3em;
  text-decoration: underline;
}
.footer-content .callback:hover {
  text-decoration:none;
}
.social {
  margin-top:7rem;
}
.social li {
  margin-bottom:0.7em;
}
.footer-bottom {
  padding:5rem 0 3rem;
}
.footer-bottom__item {
  color:#fff;
  display:flex;
  line-height: 1.5;
  margin-top:3rem;
}
.copyright-mobile {
  display: none;;
}
.sm-show {
  display:none;
}

.action {
  background: url(../img/bg/3.jpeg) no-repeat center center / cover;
  padding: 4em 0;
}

/* Popup history */
.popup-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(119,37,60,0.9);
	z-index: 5;
	display: none;
}
.popup-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	visibility: hidden;
	z-index: 110;
	transition: all .3s;
  background:#fff;
	padding: 2em;
	border-radius: 10px;
	width: 35em;
	min-width: 15em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.popup-window.active {
	transform: translate(-50%, -50%) scale(1);
	visibility: visible;
}
.close-popup {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: block;
	overflow: visible;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.close-popup::before, .close-popup::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	display: block;
	width: 20px;
	height: 1px;
	border-bottom: 1px solid #000;
	transform: rotate(45deg);
}
.close-popup::after {
	left: 0;
	transform: rotate(-45deg);
}
.popup-head__logo {
  height:10rem;
  margin-bottom:2rem;
}
.popup-head__logo img {
  width:100%;
  height:100%;
  object-fit: contain;
}
.popup__content .h4 {
  margin-bottom:1em;
  text-align: center;
}
.popup__content {
  max-height:500px;
  overflow: auto;
}
.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: block;
  overflow: visible;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}
.close:before {
  position: absolute;
  top: 50%;
  left: 1px;
  display: block;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid var(--red-dark);
  transform: rotate(45deg);
  content: '';
}
.close:after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid var(--red-dark);
  transform: rotate(-45deg);
  content: '';
}
.popup-content .input-wrapper {
  width: 100%;
  margin-bottom: 15px;
}
.form-input, .form-textarea {
  padding: 1em 1.3em;
  font-size: 16px;
  font-family: 'roboto';
  color: #464646;
  border: 2px solid transparent;
  height: 50px;
  font-family: "Roboto", sans-serif;
}
.form-textarea {
  min-height: 120px;
  resize: none;
  outline: none !important;
}
.input-border {
  border: 2px solid var(--border-color);
}
.upload_form label {
  display: flex;
}
.upload_form div {
  border: 2px solid var(--border-color);
  color: var(--orange);
  display: inline-flex;
  padding: 1em 1.3em;
  height: 50px;
  background: none;
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  transition: 0.25s;
  font-family: 'Roboto';
  min-width: 12em;
}
.upload_form div:hover {
  border-color: var(--red-dark);
}
.main_input_file {
  display: none;
}
#f_name {
  background: transparent;
  padding: 0 15px;
}
